* {
   padding: 0;
   margin: 0; 
   box-sizing:border-box;
}


header{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    /* background-color: black;
    color: white; */
    border: 2px solid black;
}
nav{
    border: 2px solid red;
    height: 20px;
}

main{
    border: 2px solid green;
    
}
footer{
    border: 2px solid purple;
}

article{
    height: 150px;
}

section{
    border: 2px solid blue;
    width: 33.333333%;
    float: left;
    height: 100%;
    overflow: scroll;
}



